@{
    //Layout = "_NuevoLayout";
    ViewData["Title"] = "Contacts";
    Layout = "_NuevoLayout";
}
<h1>Sección de Contactos</h1>
<a href="#" class="btn btn-primary">Crear contacto</a>
<div class="card card-danger card-outline">
    <div class="card-body">
        <b><h5 class="card-title">Aquí va el nombre del contacto</h5></b>

        <p class="card-text">
            En estas tarjetas podrás almacenar tus contactos, en cuanto tengas unos, mientras tanto, solo ve esta
            tarjeta estar aquí.
        </p>
        <img src="~/Images/gusano_cabron.jpeg" alt="Un gusano cabrón" class="img-thumbnail" style="max-width: 200px; max-height: 200px;">
        <a href="#" class="btn btn-danger">Consultar</a>
        <a href="#" class="btn btn-warning">Editar</a>
    </div>
</div>