@{
    ViewData["Title"] = "HomePage";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div> *@

<div class="text-center">
    <h1 class="display-3 fw-bold text-primary">Hola!</h1>
    <p class="lead text-secondary">Es bueno verte de nuevo</p>
    <a href="/Home/GetJoke/es" class="btn btn-primary btn-lg mt-3">Obtener una broma</a>
</div>
