<div class="text-center">
    <h1 class="display-3 fw-bold text-primary">Has sido autenticado</h1>
    <p class="lead text-secondary">Ahora sí quieres ver el chiste???</p>
    <a href="/Home/GetJoke/es" class="btn btn-primary btn-lg mt-3">Obtener chiste</a>
</div>